* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


body {
  background: #659099;
  display: grid;
}

nav {
  grid-row: 1;
  grid-column: 1;
  background-color: #006475;
  border: 4px solid #0e353d;
}

nav ul {
  list-style: none;
  display: grid;
  grid-row: 1;
  font-size: 3rem;
  padding: 2rem;
  grid-template-columns: 9vw auto auto auto auto;
}

nav li {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 100px;
  height: 100px;
  padding: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.products-nav {
  background-color: #006321;
  border: 3px solid lightgreen;
}

.products-nav ul {
  display: grid;
  grid-row: 2;
  font-size: 2.5rem;
  padding: 1rem;
  grid-template-columns: auto;
}

.products-nav li {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-nav a {
  color: rgb(187, 238, 187);
  text-decoration: none;
  font-family: Calibri;
}

article {
  grid-row: 3;
  background-color: #659099;
  border: 4px solid #0e353d;
  border-bottom: 2px;
}

article h2 {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 4rem;
  font-family: Calibri;
}

article p {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 6rem;
  font-family: Calibri;
}

.sale-article {
  grid-row: 3;
}

.fundraiser-article {
  grid-row: 4;
}

.our-mission-article {
  grid-row: 5;
}

.employee-welfare-article {
  grid-row: 6;
}

.socials-footer {
  background-color: #006475;
  border: 4px solid #0e353d;
  grid-row: 7;
}

.socials-footer ul {
  list-style: none;
  display: grid;
  grid-row-gap: 20px;
}

.socials-footer li {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-footer a {
  text-decoration: none;
  color: white;
  font-family: Calibri;
  font-size: 2rem;
  padding: 2rem;
}

/* Category Page ============================================================= */

.title-header {
  grid-row: 3;
  grid-column: 1;
  background-color: #659099;
}

.title-header h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.product-page-options {
  display: grid;
}


.product-page-options ul {
  margin-top: 50px;
  margin-bottom: 50px;
  list-style: none;
  display: grid;
}

.product-page-options li {
  display: grid;
  grid-template-rows: auto auto 0px;
  row-gap: 40px;
  justify-self: center;
}

.product-page-options img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid #0e353d;
}

.product-page-options button, .product-page-options a{
  grid-row: 2;
  grid-column: 1;
}

.product-page-options li:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.product-page-options li:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.product-page-options li:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.product-page-options li:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}

.product-page-options button, .product-page-options a {
  justify-self: center;
  align-self: center;
  background-color: #017929;
  border-radius: 4px;
  border: none;
  width: 90px;
  height: 40px;
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: bold;
}

.product-page-options a {
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

/* Products Listing Page ================================================== */

#listing-body {
  display: grid;
  grid-template-columns: 30% auto;
}

.listing-nav {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.listing-products-nav {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.breadcrumbs {
  grid-row: 3;
  grid-column: 1 / span 2;
  border: solid 4px #0e353d;
  border-bottom: 0px;
}

.breadcrumbs ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  width: 350px;
  margin: 20px;
}

.breadcrumbs li {
  grid-row: 1;
}

.breadcrumbs a , p{
  color: white;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-listing-section {
  grid-row: 4;
  grid-column: 2;
  background-color: #659099;
  height: 1000px;
  border-top: 4px solid #0e353d;
  border-right: 4px solid #0e353d;
}

.product-listing-section h2 {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 4rem;
  font-family: Calibri;
}

.product-listing-section ul {
  list-style: none;
}

.filters-section {
  grid-row: 4;
  grid-column: 1;
  height: 1000px;
  border-right: 4px solid #0e353d;
  border-top: 4px solid #0e353d;
  border-left: 4px solid #0e353d;
}

.filters-section hr {
  height: 4px;
  background-color: white;
  border-radius: 3px;
  width: 90%;
  margin: 20px auto;
}
.filters-section h2 {
  color: white;
  font-size: 3rem;
  margin: 2rem;
  font-family: Calibri;
}

#filters-title {
  text-align: center;
}

.filter-option {
  display: inline-block;
  margin: 10px 100px;
}

.filters-section input {
  width: 20px;
  height: 20px;
}

.filters-section label {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin: 0 5px;
}

.listing-socials-footer {
  grid-row: 5;
  grid-column: 1 / span 2;
}

